

body{
  font-family:"proxima-nova", sans-serif;
}
h2{
  background-color: black;
  margin-left: -20px;
  margin-right: -20px;
  margin-top: -20px;
}

h1{
  font-family: "proxima-nova", sans-serif;  
  font-size: 25px;
  margin-bottom: -20px;
}

img{
  height:420px;
  margin-top: 10px;
  margin-bottom: 100px;
  margin-left: 0px;
}

span.dashes{
  font-family: "georgia";
  float: left;
  position:relative;
  margin-left: -40px;
  font-size: 24px;
  margin-top: -100px;
  letter-spacing: -5px;
  color: white;

}

div.name{
  position: relative;
  font-size: 20px;
  background-color: black;
  color:white;
  margin-top: -85px;
  width: 140px;
  text-align: center;
  font-family: "proxima-nova", sans-serif;

}

div.links{
  font-size: 12px;
  margin-left: 11px;
}
span.about{
  font-size: 14px;
}

span.namebox{
  color:white;
}

span.nav{
  position:fixed;
  color:black;
  margin-top: -70px;
}

a:link{
  font-family:"proxima-nova", sans-serif;
  color: black;
  text-decoration: none;
  font-style: bold;
}

a:visited{
  color:black;
}

a:hover{
  color:white;
  background-color:black;
}

a:active{
  color:#42f4b0
;

}

div.content{
  position:relative;
  margin-left: 120px;
}

div.descriptions{
  position:relative;
  margin-top: -1010px;
  margin-left: 540px;
  padding:3px;

}

span.descriptions{
  font-size: 12px;
  color: white;
  background-color: black;
}
