

body{
  font-family:"georgia", times, serif;
}
h2{
  background-color: black;
  margin-left: -20px;
  margin-right: -20px;
  margin-top: -20px;
}

h1{
  font-family: "proxima-nova", sans-serif;  
  font-size: 25px;
  margin-bottom: -20px;
}
img{
  height:320px;
  margin-top: 10px;
  margin-bottom: 100px;
  margin-left: 0px;
}
span.dashes{
  float: left;
  position:relative;
  margin-left: -40px;
  font-size: 24px;
  margin-top: -100px;
  letter-spacing: -10px;
  color: white;
}


span.about{
  font-size: 14px;
}

span.namebox{
  color:white;
}

span.nav{
  position:fixed;
  color:black;
  margin-top: -90px;
}

a:link{
  font-family:"proxima-nova", sans-serif;
  color: black;
  text-decoration: none;
}

a:visited{

}

a:hover{
  color:white;
  background-color:black;
}

a:active{

}

